# Dependencies
node_modules

# Build
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test
coverage

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
README.md
*.md

